[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.7"
keyring = "==24.2.0"
pygithub = "==2.1.1"

[dev-packages]
autopep8 = "==2.0.4"

[requires]
python_version = "3.10"
